.service-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(to right, #f3f4f6, #ffffff);
}

.sub-heading {
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}

.sub-heading span {
  color: #e09f3e;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  justify-content: center;
  width: 100%;
}

.service-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 12px;
  padding: 1.5rem;
  width: 260px;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.service-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}

.icon-container {
  background-color: #f9fafb;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.service-icon {
  color: #e09f3e;
  font-size: 3rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.service-item:hover .service-icon {
  color: #333;
  transform: rotate(-10deg);
}

.service-text h2 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.service-text p {
  font-size: 1rem;
  color: #7f8c8d;
}

@media screen and (max-width: 768px) {
  .services-list {
      gap: 1rem;
  }
  .service-item {
      width: 100%;
      padding: 1rem;
  }
}
